{{!-- error message for 404 --}}
<div class="mt-4 error-message-page">
  <h1 id="error-code" data-code={{ errorMessage.code }}> {{ errorMessage.code }}</h1>
  <p> {{ errorMessage.reason }} </p>
  <p>{{{ errorMessage.handler }}}</p>
</div>



<script src="/javascripts/errorPage.js"></script>