{{!-- error message for 404 --}}
<div class="mt-4 error-message-page" id="error-message-page" data-error="{{ errorMessage.errorType }}">
  <h1> {{ errorMessage.code }}</h1>
  <p> {{ errorMessage.reason }} </p>
  <p>{{{ errorMessage.handler }}}</p>
</div>



<script src="/javascripts/errorPage.js"></script>