<form method="POST" action="/URLShorten" class="url-form" novalidate>
  <div class="input-group">
    <input type="text" class="form-control url-input" placeholder="請輸入網址">
    <button class="btn url-input-btn" type="button" id="button-addon2">縮短</button>
  </div>
</form>

<div class="result-message">

</div>