<form method="POST" action="/URLShorten" novalidate>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="請輸入網址">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
</form>