<form method="POST" action="/" class="url-search-form" id="url-search-form" target="_parent" novalidate>

  <div class="input-group">
    <input type="url" class="form-control url-input" placeholder="請輸入網址" id="url-form-input" name="url" required>
    <button class=" btn url-input-btn" type="submit" id="url-form-btn">縮短</button>
    <div class="invalid-feedback">請輸入網址，格式為http://hostname/path</div>
  </div>


</form>

{{#if result}}
<div class="mt-3 result-message">
  <p>縮短後: {{result}}</p>
  <button class="btn">Copy</button>
</div>

{{/if}}